.container {
  display: grid;
  height: 950px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 1.5fr 0.5fr;
  grid-template-areas: "nav nav nav nav" "sidebar main main main" "sidebar content1 content2 content3" "footer footer footer footer";
  grid-gap: 15px;
  font-weight: 800;
  text-align: center; }

nav {
  background-color: aqua;
  grid-area: nav;
  border-radius: 15px;
  padding-top: 15px; }

main {
  background-color: white;
  grid-area: main;
  border-radius: 15px;
  padding-top: 15px; }

#sidebar {
  background-color: grey;
  grid-area: sidebar;
  border-radius: 15px;
  padding-top: 15px; }

#content1 {
  background-color: #ff00ea;
  grid-area: content1;
  border-radius: 15px;
  padding-top: 15px; }

#content2 {
  background-color: #f137b9;
  grid-area: content2;
  border-radius: 15px;
  padding-top: 15px; }

#content3 {
  background-color: #f582e2;
  grid-area: content3;
  border-radius: 15px;
  padding-top: 15px; }

footer {
  background-color: black;
  grid-area: footer;
  border-radius: 15px;
  padding-top: 15px;
  color: white; }

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas: "nav" "main" "sidebar" "content1" "content2" "content3" "footer"; } }
